In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [8]:
df = DataFrame(np.random.randint(0, 150, (6, 3)), 
               index=pd.MultiIndex.from_product([['C', 'B', 'A'], ['期中', '期末']]),
               columns=['Python', 'Math', 'English'])
df

      Python  Math  English
C 期中      79    20       31
  期末      32    99      143
B 期中      19   148       89
  期末      15    44       28
A 期中      52   113       91
  期末     137    95      104

In [14]:
df.iloc[0: 5, 1:2]

      Math
C 期中    20
  期末    99
B 期中   148
  期末    44
A 期中   113

In [21]:
# 正序切片不会报错
df.sort_index(axis=0, level=0).loc['A': 'B']

      Python  Math  English
A 期中      52   113       91
  期末     137    95      104
B 期中      19   148       89
  期末      15    44       28

In [22]:
# 乱序的index切片会报错
df.loc['B': 'A']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

## 删除重复元素

In [24]:
df1 = DataFrame({'color': ['red', 'black', 'red', 'yellow', 'red']})
df1

    color
0     red
1   black
2     red
3  yellow
4     red

In [28]:
# 查看重复元素
df1.duplicated().sum()

2

In [32]:
# 删除重复数据
df1.drop_duplicates(inplace=True)
df1

    color
0     red
1   black
3  yellow

## 映射

### 替换

In [34]:
df = DataFrame(np.random.randint(0, 150, (6, 3)), index=list('abcdef'), 
               columns=['Python', 'Math', 'English'])
df

   Python  Math  English
a      90   129       46
b     129   144       65
c      11    81        3
d      40    37       56
e      94    60       65
f      82   102        1

In [36]:
mp = {65: -100, 129: -200}

# 全部替换
df.replace(mp)

   Python  Math  English
a      90  -200       46
b    -200   144     -100
c      11    81        3
d      40    37       56
e      94    60     -100
f      82   102        1

### 新建一列

In [38]:
# 增加一列Java， 其值比Python列少10
df['Java'] = df['Python'].map(lambda x: x - 10)
df

   Python  Math  English  Java
a      90   129       46    80
b     129   144       65   119
c      11    81        3     1
d      40    37       56    30
e      94    60       65    84
f      82   102        1    72

In [40]:
# 定义筛选条件
def convert(value):
    if value < 60:
        return '不及格'
    if (value >= 60) & (value < 100):
        return '一般'
    if (value >= 100) & (value < 130):
        return '良好'
    if (value >= 130) & (value < 150):
        return '优秀'

In [42]:
# 根据条件添加数据
df['level'] = df['English'].map(convert)
df

   Python  Math  English  Java level
a      90   129       46    80   不及格
b     129   144       65   119    一般
c      11    81        3     1   不及格
d      40    37       56    30   不及格
e      94    60       65    84    一般
f      82   102        1    72   不及格

In [44]:
# transform 和 map 类似
df['level2'] = df['Math'].transform(convert)
df

   Python  Math  English  Java level level2
a      90   129       46    80   不及格     良好
b     129   144       65   119    一般     优秀
c      11    81        3     1   不及格     一般
d      40    37       56    30   不及格    不及格
e      94    60       65    84    一般     一般
f      82   102        1    72   不及格     良好

### 替换索引

In [48]:
df.rename({'level': '英语等级'}, axis=1, inplace=True)
df

   Python  Math  English  Java 英语等级 level2
a      90   129       46    80  不及格     良好
b     129   144       65   119   一般     优秀
c      11    81        3     1  不及格     一般
d      40    37       56    30  不及格    不及格
e      94    60       65    84   一般     一般
f      82   102        1    72  不及格     良好

In [49]:
# 数据和字典进行比较，有则替换，如果没有也不会报错
df.rename({'a': 'A', 'b': 'B', 'g': 'G'})

   Python  Math  English  Java 英语等级 level2
A      90   129       46    80  不及格     良好
B     129   144       65   119   一般     优秀
c      11    81        3     1  不及格     一般
d      40    37       56    30  不及格    不及格
e      94    60       65    84   一般     一般
f      82   102        1    72  不及格     良好

## 异常值检测过滤

In [102]:
df.min(axis=1)

a    46
b    65
c     1
d    30
e    60
f     1
dtype: int64

In [57]:
df1 = DataFrame(np.random.randint(0, 150, [6, 3]),
                index=pd.MultiIndex.from_product([['a', 'b', 'c'], ['期中', '期末']]),
                columns=['Python', 'Math', 'English']
               )
df1

      Python  Math  English
a 期中     101    45       95
  期末      26    26       96
b 期中      61   108       14
  期末     125    70       82
c 期中      86   102       17
  期末     109   110      132

In [59]:
df1.min(axis=0, level=0)

   Python  Math  English
a      26    26       95
b      61    70       14
c      86   102       17

In [111]:
# 求解方差, std, 求解平均值mean
# 异常值标准：
# df - mean > 3*std
df2 = DataFrame(np.random.randn(100000, 3), columns=['Python', 'Java', 'PHP'])
df2.head()

     Python      Java       PHP
0  0.546140  0.466815  0.029392
1  0.183451  0.839903 -0.399041
2  0.206188  0.449464 -1.318918
3  0.686150 -0.600173 -0.895407
4  0.714139  0.484717  1.931289

In [112]:
v_mean = df2.mean()
v_mean

Python   -0.001819
Java      0.003528
PHP      -0.001258
dtype: float64

In [113]:
v_std = df2.std()
v_std

Python    1.002261
Java      1.002765
PHP       0.999431
dtype: float64

In [114]:
cond = (df2 - v_mean) > v_std * 3
cond.sum()

Python    140
Java      118
PHP       123
dtype: int64

In [115]:
cond = cond.any(axis=1)

In [116]:
df2[cond]

         Python      Java       PHP
496   -0.353445 -0.878357  3.208070
515    0.663584 -0.080987  3.319823
775    3.156177 -1.611657 -0.971565
1525   0.217295  3.471857  0.099466
1674  -1.474350  3.051869  1.606687
1806   3.250636 -0.793959 -0.352930
2145  -0.525991  0.286310  3.125183
2321  -0.092307  3.169947 -0.877134
2388  -0.687854  3.122491  0.845703
2571   3.031008  0.004589  1.281277
2695   3.050356 -1.858897 -1.577748
3261  -0.788331  2.157922  3.099246
3419  -0.788669  3.534100 -0.343147
3506  -1.312980  3.290218  0.151749
3823   3.109068  0.011506 -1.836984
4721   0.903388  3.525467 -0.528147
5058  -0.655453  1.073321  3.734685
5563  -0.363961  3.023757 -1.763126
5767  -1.033457  3.438147  0.816020
5918   3.121932 -0.337630  1.343091
6008   3.725483 -0.715312 -0.651890
6026   0.356532  0.046238  3.257105
6063   3.173073 -2.505723  0.403863
6239   0.828744  3.097415 -0.130106
6337  -0.831616  3.917549  1.798865
7220   1.068439  3.109191 -0.041743
7249  -0.325900 -0.257416  3.948268
7327  -2.419928  0.763330  3.936539
7355   2.483167 -1.071717  3.544962
7491   3.700792 -3.195246 -0.818103
...         ...       ...       ...
90192  1.578813  1.837199  3.199081
90519  3.750837 -0.561267  1.680089
90820  3.552427  0.114317 -0.414352
91576  0.138466  0.202340  3.455214
92332  3.635888  0.614580  1.553701
92807 -0.614220 -0.918234  3.731752
92882  0.988787 -0.167396  3.020877
93043  3.110993  1.168324 -0.591740
93510  3.009738 -1.247003 -1.079515
94376  0.046770  0.923936  3.187418
94698  0.946458  3.020374  1.961570
94892  1.678364  0.128181  3.219119
95149  3.224307 -0.019119 -0.730345
95263 -1.213884  1.988877  3.599034
95272  0.085760  3.415341 -0.036070
95413  3.151218 -0.076669 -0.688700
95864  3.387826  0.566617 -0.678444
96222  3.304453 -2.169178  1.954333
97163  3.220345  0.623437 -0.399961
97573 -0.774587  3.252864  0.186583
97624  1.235732  3.377398  1.470746
97707  4.024830  0.264845 -0.684174
97800  3.088904 -1.469576 -2.356555
98047  3.342885 -0.773782  0.643645
98475 -1.063417  1.547054  3.688142
98736 -0.521250  3.199016  2.534563
98825  0.239201 -0.455870  3.334394
99033  3.194361 -0.107094 -1.673984
99589  3.018661 -1.378798 -1.217278
99887 -1.561413  3.338041  1.185773

[381 rows x 3 columns]

In [120]:
# 选取不满足条件的索引
index = df2[cond].index
# 删除不满足条件的数据
df2.drop(labels=index, inplace=True)
df2

         Python      Java       PHP
0      0.546140  0.466815  0.029392
1      0.183451  0.839903 -0.399041
2      0.206188  0.449464 -1.318918
3      0.686150 -0.600173 -0.895407
4      0.714139  0.484717  1.931289
5     -0.378451 -0.411125  0.001086
6      0.436973 -1.375490  1.487678
7     -0.081864 -0.408206 -1.182210
8     -0.378248  0.279761  1.123659
9     -1.552444  0.117663  0.092789
10     1.138226  0.521273  2.392449
11     0.565524  0.309475  0.142022
12     1.423333  1.053065 -0.260586
13    -0.012952  0.198685  0.287497
14    -0.569378  0.280184 -0.831753
15     0.071608  1.155543  0.002987
16     0.439444 -1.333660 -0.500297
17     0.861785  1.089321  0.427663
18    -0.798829 -0.029865 -0.131424
19    -0.711804  1.896395 -1.963137
20    -0.127678 -2.446175  1.449063
21    -0.702615 -1.103019 -0.179611
22     0.941759  0.879306 -0.020637
23    -0.678858 -0.149886  0.102951
24     0.485688  0.780205 -1.040478
25     0.029812  1.266805  0.962411
26     1.080299 -2.076230  0.097235
27     0.715859  1.011310 -0.369749
28    -0.275007  0.019525 -0.887494
29     1.251499 -2.040450 -0.833694
...         ...       ...       ...
99970  0.909528 -0.196748 -1.147501
99971 -1.140359 -0.582872 -0.241609
99972  0.555452  0.498378 -0.499536
99973 -2.566700  0.647468  0.699574
99974  0.710992 -0.210737 -0.994966
99975  0.742536  0.098345  0.836284
99976  0.035469  0.906678  0.200688
99977  0.150905 -0.561228 -0.830225
99978 -0.484041 -1.912525 -0.739168
99979  0.079734 -0.502895 -0.525306
99980  0.591810  0.568495  0.062245
99981 -0.855785  0.676602 -0.532004
99982  0.660285  0.165220  0.673010
99983 -0.117313  0.952075 -0.980361
99984  1.391161  1.405057  1.529169
99985 -1.323345 -1.994986 -0.018955
99986  0.691520  0.824902 -1.740716
99987 -1.606138  1.052919 -1.777934
99988  1.750570  1.510313 -1.099706
99989 -1.016383 -0.739179 -0.286769
99990  1.245688 -0.172892  1.279640
99991 -1.310077  0.079232  0.062199
99992 -0.586966  0.745782  0.494435
99993 -1.000707 -1.891834 -0.796611
99994  0.451060 -0.853898 -0.102274
99995  0.296851  0.434251 -0.007120
99996  0.577577 -2.130836  0.794730
99997  0.096573 -0.896232  0.141120
99998  0.212071  0.283021  0.895536
99999  1.402148 -1.242954  1.405879

[99619 rows x 3 columns]

In [121]:
cond = (df2 - v_mean) > v_std * 3
cond.sum()

Python    0
Java      0
PHP       0
dtype: int64