In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## 将长透视为宽

In [2]:
data = pd.read_csv('./examples/macrodata.csv')

In [6]:
data.head()

     year  quarter   realgdp  realcons   ...     unemp      pop  infl  realint
0  1959.0      1.0  2710.349    1707.4   ...       5.8  177.146  0.00     0.00
1  1959.0      2.0  2778.801    1733.7   ...       5.1  177.830  2.34     0.74
2  1959.0      3.0  2775.488    1751.8   ...       5.3  178.657  2.74     1.09
3  1959.0      4.0  2785.204    1753.7   ...       5.6  179.386  0.27     4.06
4  1960.0      1.0  2847.699    1770.5   ...       5.2  180.007  2.31     1.19

[5 rows x 14 columns]

In [4]:
# 生成时间间隔类型
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter, name='date')
periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203, freq='Q-DEC')

In [7]:
columns = pd.Index(['realgdp', 'infl', 'unemp'], name='item')
columns

Index(['realgdp', 'infl', 'unemp'], dtype='object', name='item')

In [8]:
data = data.reindex(columns=columns)
data.head()

item   realgdp  infl  unemp
0     2710.349  0.00    5.8
1     2778.801  2.34    5.1
2     2775.488  2.74    5.3
3     2785.204  0.27    5.6
4     2847.699  2.31    5.2

In [10]:
# 行索引=日期
data.index = periods.to_timestamp('D', 'end')
data.head()

item         realgdp  infl  unemp
date
1959-03-31  2710.349  0.00    5.8
1959-06-30  2778.801  2.34    5.1
1959-09-30  2775.488  2.74    5.3
1959-12-31  2785.204  0.27    5.6
1960-03-31  2847.699  2.31    5.2

In [11]:
ldata = data.stack().reset_index().rename(columns={0: 'value'})
ldata.head()

        date     item     value
0 1959-03-31  realgdp  2710.349
1 1959-03-31     infl     0.000
2 1959-03-31    unemp     5.800
3 1959-06-30  realgdp  2778.801
4 1959-06-30     infl     2.340

In [13]:
# 透视变"宽"
ldata.pivot(index='date', columns='item', values='value')[: 10]

item        infl   realgdp  unemp
date
1959-03-31  0.00  2710.349    5.8
1959-06-30  2.34  2778.801    5.1
1959-09-30  2.74  2775.488    5.3
1959-12-31  0.27  2785.204    5.6
1960-03-31  2.31  2847.699    5.2
1960-06-30  0.14  2834.390    5.2
1960-09-30  2.70  2839.022    5.6
1960-12-31  1.21  2802.616    6.3
1961-03-31 -0.40  2819.264    6.8
1961-06-30  1.47  2872.005    7.0

In [15]:
# 等价于pivot
ldata.set_index(['date', 'item']).unstack('item')[: 10]

           value
item        infl   realgdp unemp
date
1959-03-31  0.00  2710.349   5.8
1959-06-30  2.34  2778.801   5.1
1959-09-30  2.74  2775.488   5.3
1959-12-31  0.27  2785.204   5.6
1960-03-31  2.31  2847.699   5.2
1960-06-30  0.14  2834.390   5.2
1960-09-30  2.70  2839.022   5.6
1960-12-31  1.21  2802.616   6.3
1961-03-31 -0.40  2819.264   6.8
1961-06-30  1.47  2872.005   7.0

## 将宽透视为长

In [16]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

   key  A  B  C
0  foo  1  4  7
1  bar  2  5  8
2  baz  3  6  9

In [18]:
# 透视变"长"
melted = pd.melt(df, ['key'])
melted

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9

In [20]:
# 用pivot还原
reshaped = melted.pivot('key', 'variable', 'value')
reshaped

variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7

In [21]:
reshaped.reset_index()

variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7

In [22]:
# 指定列的子集作为值列
pd.melt(df, id_vars=['key'], value_vars=['A', 'B'])

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6